body{
	padding-top:70px;
	background:#b3b3b3;
	
}
.heads{
	color:#000;
	font-weight:bold;
	font-size:20px;	
}
.heads2{
	color:#000;
	font-weight:bold;
	font-size:16px;	
}
.dibu{
	background:#f8f8f8;
}
.hui{
	background:#c0c0c0;
}